# Vamos aprender sobre EDA! üòÑ :
---

Agora que voc√™s j√° aprenderam os principais pontos sobre o assunto e compreenderam a import√¢ncia de trabalhar com dados limpos e bem estruturados, √© hora de colocar esse conhecimento em pr√°tica. Disponibilizamos 6 datasets reais, variando em tamanho e complexidade, para que voc√™s possam escolher aquele com o qual preferem trabalhar. O objetivo agora √© aplicar suas novas habilidades, limpando os dados e extraindo insights a partir deles.
**Lembrando que √© necess√°rio selecionar apenas um dataset para desenvolver a atividade.** üòâ

###Os datasets s√£o:


*   **Mais de 30.000 filmes lan√ßados nos √∫ltimos 60 anos**: este dataset inclui uma ampla gama de informa√ß√µes, como data de lan√ßamento, diretor, indica√ß√µes ao Oscar e or√ßamento.
*   **Titanic**: traz dados detalhados sobre as v√≠timas do tr√°gico acidente, incluindo g√™nero, idade e n√∫mero do bilhete.
*   **Aplicativo de namoro**: apresenta informa√ß√µes como quantidade de filhos, interesses e n√≠vel educacional dos usu√°rios.
*   **Vinhos**: fornece dados sobre o pa√≠s de origem, avalia√ß√£o dos consumidores e pre√ßo.
*   **Acidentes de tr√¢nsito**: inclui vari√°veis como densidade do tr√°fego, quantidade de chuva e velocidade.
*   **Casamento e divorcios na √çndia**: abrange aspectos como dura√ß√£o do casamento, tipo de uni√£o e casta.

## 1.1 - Leitura dos dados e realiza√ß√£o de descri√ß√£o estat√≠stica
---

O dataframe ser√° gerado automaticamente ao executar a c√©lula com o m√©todo `pd.read_csv()` da biblioteca [pandas](https://pandas.pydata.org/pandas-docs/stable/).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Forma manual de abrir o arquivo
import csv

with open("marriage_divorce_india_with_id.csv", mode="r", encoding="utf-8") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

Comparando os m√©todos de como abrir um arquivo CSV, fica f√°cil entender por que o Pandas √© t√£o √∫til. Fazer tudo "na m√£o" com open() exige abrir o arquivo, ler linha por linha, separar valores e tratar dados manualmente ‚Äî d√° trabalho e √© f√°cil errar.

Com o Pandas, basta um comando como pd.read_csv("arquivo.csv"), e tudo fica organizado em uma tabela, com tipos de dados reconhecidos e v√°rias ferramentas prontas para an√°lise.üòä

In [ ]:
# Usando Pandas para abrir o arquivo
# Adicione entre as '' o caminho do arquivo correspondente ao dataset selecionado.
# sep = par√¢metro sobre qual caractere separa os valores no csv
# valores podem ser separados por qualquer caractere. Default: ',' 
dataset = pd.read_csv('marriage_divorce_india_with_id.csv', sep = ',')
dataset

### üí° Antes de tudo, √© importante realizar uma **an√°lise estat√≠stica** para entender melhor a natureza dos dados:

Inspe√ß√£o inicial dos dados:

**head()**: Mostra as primeiras linhas do dataset, ideal para dar uma olhada r√°pida na organiza√ß√£o das colunas e nos valores iniciais.

**info()**: Faz um resumo completo, mostrando quantas linhas e colunas existem, os tipos de dados (int, float, object...) e se h√° valores faltando.

**describe()**: Gera estat√≠sticas b√°sicas das colunas num√©ricas, como m√©dia, valor m√≠nimo, m√°ximo e desvio padr√£o, ajudando a entender melhor como os n√∫meros est√£o distribu√≠dos.

Essas fun√ß√µes s√£o indispens√°veis para conhecer o dataset e planejar os pr√≥ximos passos da an√°lise!

Existem outras fun√ß√µes muito √∫teis tamb√©m, principalmente quando se deseja **visualizar problemas** no dataset, s√£o elas:

**value_counts()**

**unique()**

**isnull()**

**isnull().sum()**

 Sobre a fun√ß√£o de cada uma, deixaremos para voc√™s explorarem por conta pr√≥pria e aprenderem mais a fundo sobre. üöÄ

In [ ]:
dataset.head() #par√¢mtros: quantas linhas mostrar. Default: 5

In [ ]:
dataset.tail() #par√¢metros: quantas linhas finais mostra. Default: 5

In [ ]:
#nome da coluna, quantidade de nao nulos, tipo de dado
#strings retornam como object, j√° que s√£o objetos do python
dataset.info()

In [ ]:
#descreve a estat√≠stica geral do dataframe por coluna (media, desvio, min e max)
#calcula somente de colunas em que o tipo √© num√©rico
dataset.describe()

**SERIES**: s√£o listas **unidimensionais** que possuem uma indexa√ß√£o. Exemplo:

[1, 2, 3, 4, 5] pode ser um Series em Pandas e possuir √≠ndices por meio de:

pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])


**value.counts()**: √© um m√©todo que retorna um Series, informando a quantidade de vezes que um valor se repete em um dataset (ou em uma coluna). √â um Series com esses values e index:  

**values s√£o os valores de cada linha do dataset**  
**index s√£o os valores que indexam cada linha do dataset**

bins = par√¢metro de value_counts() que serve para dividir valores numericos em **intervalos**. **Serve apenas para Series que s√≥ possuem n√∫meros**

In [ ]:
# PAR√ÇMETROS: (normalize=False, bins, sort=True, dropna=True)

# normalize = retorna como porcentagem
# sort = retorna de forma ordenada (default True)
# dropna = n√£o inclui nulos no c√°lculo

quant_urban_rural = dataset['Urban/Rural'].value_counts()


dataset['Children'].value_counts(bins=3, sort=False) # retorna a quantidade de filhos por invervalo

# SA√çDA:

# 0 a 1 filho
# 2 filhos
# 3 a 4 filhos

**Arrays Numpy**: s√£o similares a listas de Python, mas possuem caracter√≠sticas diferentes

Array Numpy est√£o cont√≠guos na mem√≥ria, tornando-os mais eficientes

**.unique()**: retorna um tipo Array NumPy com todos os **valores √∫nicos** de uma coluna

In [ ]:
# PAR√ÇMETROS: n√£o possui

all_castes_religions = dataset['Caste/Religion'].unique() #retorna uma lista com as castas que existe

for a in all_castes_religions:
    print(a, end=' ')

In [ ]:
#informa se cada valor √© nulo ou n√£o
dataset.isnull() #para o dataframe inteiro
dataset['Children'].isnull() #para uma coluna

In [ ]:
#retorna quantos nulos existem
dataset.isnull().sum() #no dataset inteiro
dataset['Children'].isnull().sum() #em uma coluna espec√≠fica, retorna um numero

### Quando se fala de an√°lise estat√≠stica, √© inevit√°vel n√£o falarmos de **Boxplot**

Ele te ajuda a realizar um resumo estat√≠stico visual dos dados, mostrando mediana, valor m√°ximo e m√≠nimo, distribui√ß√£o dos dados, e, principalmente, os famosos **outliers**.

**Importante**: O boxplot complementa o uso do describe(). Enquanto o describe() fornece os valores exatos, o boxplot apresenta uma representa√ß√£o visual que facilita a interpreta√ß√£o. Ambos devem ser usados juntos para obter uma an√°lise completa. üòé

**Faz toda diferen√ßa** se aprofundar para entender e interpretar os elementos do boxplot (mediana, quartis, outliers, e amplitude interquartil). Por isso, recomendamos procurarem sobre isso na internet. Aqui est√£o algumas sugest√µes:

[How to interpret a boxplot- Data analysis and visualization](https://en.fernandafperes.com.br/blog/boxplot-interpretation/)

[Interpreting box plots- video Khan Academy](https://www.khanacademy.org/math/cc-sixth-grade-math/cc-6th-data-statistics/cc-6th-box-whisker-plots/v/interpreting-box-plots)


![image.png]()

Para plotar o gr√°fico, use bibliotecas como: [matlotlib](https://matplotlib.org/stable/), [seaborn](https://seaborn.pydata.org/), [plotly](https://plotly.com/)

**Como plotar boxplot com o seasborn**

sns.boxplot(data=**NOME DO DATASET**, x=**NOME DA COLUNA**)

Na parte do x, podemos escrever y, para mudar a orienta√ß√£o do boxplot

In [ ]:
sns.boxplot(y=dataset['Age at Marriage'])
plt.show()

In [ ]:
sns.boxplot(x=dataset['Caste/Religion'], y=dataset['Age at Marriage'])
plt.show()

## 1.2 - Limpeza de dados

---

Agora que temos uma vis√£o geral dos dados, √© hora de limp√°-los! Remova inconsist√™ncias, como dados ausentes e tipos incorretos, para garantir a qualidade da an√°lise explorat√≥ria. Novamente, consulte a documenta√ß√£o do pandas para ajudar nesse processo.

###Lembre-se que existem muitas fun√ß√µes ao seu favor! ‚ú®

**dropna()**: Remove as linhas ou colunas com valores ausentes(nulos) ou irrelevantes para sua an√°lise.

**fillna()**: Preenche os valores ausentes com algum valor espec√≠fico, como a m√©dia, a mediana ou um valor constante, dependendo do contexto.

Essas fun√ß√µes s√£o essenciais para garantir que seu dataset esteja limpo e pronto para an√°lise! E o melhor √© que existem muitas outras op√ß√µes al√©m dessas. D√™em uma olhada na documenta√ß√£o e descubram quais outras fun√ß√µes podem se adequar melhor √† an√°lise de voc√™s.

# Par√¢metros de .dropna()

##  dropna(axis= , how=, subset=, inplace=)
**axis** = se exclui pela linha(axis=0) ou pela coluna (axis=1)  
**how** = se exclui apenas se todos os valores forem nulos ('all') ou se existir apenas 1 nulo ('any')  
**subset** = exclui apenas os valores nulos da coluna  
subset=['Nome da Coluna']  
**inplace** = se True, ent√£o modifica o dataset original, se False, cria uma c√≥pia do dataframe

### Observa√ß√µes importantes

Se axis = 0, ent√£o .dropna() **exclui as linhas** que tiverem algum NULL

Se axis = 1, ent√£o .dropna() **exclui as colunas** que tiverem algum NULL

Se axis = 1 e subset: .dropna() apaga a **coluna** se linha tal tiver algum NULL

Se axis = 0 e subset='Coluna', ent√£o .dropna() apaga todas as **linhas** que tiverem NULL na 'Coluna'

In [ ]:
# apague todas as linhas que tiverem a coluna 'Age at Marriage' NULL
dataset.dropna(subset='Age at Marriage', inplace=True)

In [ ]:
dataset['Age at Marriage'].dropna()

# Par√¢metros de .drop()

### **.drop(axis, labels, index, columns, inplace, errors)**

**axis**: determina se exclui linha ou coluna  
**index**: intervalo de indices a serem excluidos  
**labels**: indica o nome da linha ou coluna a ser excluida  
**columns**: indica qual coluna vai ser excluida

In [ ]:
dataset.drop(index=range(0, 5)) #exclui as linhas de indice 0 a 4

In [ ]:
dataset.drop(columns='Age at Marriage') # exclui a coluna Age at Marriage

In [ ]:
dataset.drop(axis=1, labels='Unique ID') # exlui Unique ID

# Par√¢metos de .fillna()

### **.fillna(value, axis)**

**axis**: preenche percorrendo as linhas ou coluna  
**value**: valor que quermeos preecnher os nulos

In [ ]:
dataset.fillna({'Age at Marriage': dataset['Age at Marriage'].mean()}, inplace=True) #este m√©todo √© mais seguro!!

In [ ]:
dataset.fillna(max(dataset['Age at marriage'])) # preenche qualquer valor NULL do dataset com o valor m√°ximo em 'Age at Marriage'

In [ ]:
dataset['Age at Marriage'].fillna(23, inplace=True) # preenche os nulos da coluna com 23

In [ ]:
dataset.head()

## 1.3 - An√°lise Explorat√≥ria dos Dados (EDA)

---

üîç Ap√≥s concluir a etapa de limpeza dos dados, agora √© o momento de analisar mais a fundo o que est√° acontecendo no dataset.

O pr√≥ximo passo √© identificar correla√ß√µes e examinar a distribui√ß√£o das vari√°veis presentes. Para isso, recomenda-se o uso da biblioteca [matplotlib](https://matplotlib.org/) para criar gr√°ficos que representem essas rela√ß√µes.

## Como fazer um gr√°fico em barras com matplot:

### **plt.bar(x= , height= )**

Existem v√°rios par√¢metros, mas os principais s√£o:  

**x**: valor que estar√° no eixo x  
**height**: valores do eixto y

## **.index() e .values()**

S√£o fun√ß√µes que quando aplicadas em um Series, retornam uma lista:  

**.index()**: indices  
**.values()**: valores de cada indice

In [ ]:
#criando um gr√°fico de barras para ver quantidade de casamentos por religi√£o

t = dataset['Caste/Religion'].value_counts()
t.drop(index='Other', inplace=True) #removendo 'other' do Series

# configurando os t√≠tulos
plt.title('Casamentos por religi√£o', fontsize=14)
plt.xlabel('Religi√µes', fontsize=12)
plt.ylabel('Casamentos', fontsize=12)

plt.bar(x=t.index, height=t.values, width=0.6)
plt.show
plt.savefig('grafico_casamentos.png', dpi=600)

In [ ]:
contagem = dataset['Marriage Duration (Years)'].value_counts(bins=8, sort=False)

labels = [f"[{int(interval.left)}, {int(interval.right)})" for interval in contagem.index] # para truncar os valores float de value.counts()


plt.bar(x=labels, height=contagem.values)

plt.title('Quantidade de casamentos por intervalos de dura√ß√£o de tempo', fontsize=14)
plt.xlabel('Intervalos de tempo', fontsize=12)
plt.ylabel('Quantidade de casamentos', fontsize=12)

plt.show()
plt.savefig('casamento_intervalo.png', dpi=600)

In [ ]:
dataset.head()

In [ ]:
# quantidade de divorciados ou nao 

quant_divorce = dataset.groupby('Divorce Status')['Unique ID'].count()

plt.bar(x=quant_divorce.index, height=quant_divorce.values, width=0.6)

plt.title('Quantidade de divorciados', fontsize=14)
plt.xlabel('Yes = Divorced No = No divorced', fontsize=12)
plt.ylabel('Quantidade')

plt.show()

In [ ]:
m_type = dataset['Marriage Type'].value_counts()

plt.bar(x=m_type.index, height=m_type.values, width=0.5)

plt.title('Quantidade por tipo de casamento', fontsize=14)
plt.xlabel('Tipos de casamento', fontsize=12)
plt.ylabel('Quantidade', fontsize=12)

plt.show()

## 1.4 - Feature engeneering e dados categ√≥ricos

---

### 1.4.1 - Sempre que falamos de Data Science, lembramos dos diferentes tipos de dados. E, junto deles, surgem os temidos dados categ√≥ricos!

Esses dados s√£o bem diferentes das vari√°veis num√©ricas, ent√£o a gente precisa dar uma aten√ß√£o extra pra trabalhar com eles de forma eficaz. Bora transformar alguns deles usando os m√©todos que j√° vimos, como o **OneHotEncoder**! üî•

Depois disso, vamos mergulhar no **Feature Engineering**!
Essa t√©cnica √© super poderosa e serve para extrair informa√ß√µes mais relevantes dos dados que j√° temos. Ela consiste em selecionar, manipular e transformar colunas e linhas do dataset, dando um novo significado ou enriquecendo as informa√ß√µes. Um exemplo cl√°ssico √© a cria√ß√£o de uma coluna de IMC (√çndice de Massa Corporal) a partir das colunas de altura e peso.

Agora √© sua vez! Solte a criatividade e use sua intui√ß√£o pra criar novos atributos a partir do que j√° est√° dispon√≠vel.

**Dica**: Pegue as colunas que voc√™ j√° tem e use como base pra criar outras com caracter√≠sticas diferentes.

## Por que OneHotEncoder √© importante

Os modelos de IA usam c√°lculos matem√°ticos para tentar predizer resultados.  
  
Assim, √© importante que os dados sejam **apenas num√©ricos**, para que o modelo consiga trabalhar com eles

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# OneHotEncoder cria um objeto
# handle_unknowm diz para ignorar o erro caso surja uma categoria desconhecida
# sparse_output = False diz que deve retornar uma matriz normal 
# .set_output diz qual deve ser o formato de sa√≠da dessa matriz
# transform diz que a sa√≠da deve ser o formato para o pandas

ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False).set_output(transform='pandas')

#cria um DataSet em que cada coluna √© uma categoria
# PAR√ÇMETRO DE fit_transform( COLUNA A QUAL DEVE SER APLICADA )

oheTransform = ohe.fit_transform(dataset[['Marriage Type']])

# .concat() √© um m√©todo que concatena dois dataset: PODE CONCATENAR POR LINHAS (axis=0) ou por COLUNAS (axis=1)
# .drop() serve para excluir a coluna Marriage Type com dados categoricos

df_final = pd.concat([dataset, oheTransform], axis=1).drop(columns=['Marriage Type'])
df_final

A ideia na c√©lula seguinte √© criar uma nova coluna para indicar se um casamento durou mais do que a idade em que a pessoa come√ßou o casamento

1 se o tempo de casamento for maior que a idade em que casou, 0 se n√£o

In [ ]:
dataset['More Time Marriage'] = dataset.apply(lambda x: 1 if x['Marriage Duration (Years)'] >= x['Age at Marriage'] else 0, axis=1)

dataset

### 1.4.2 - Em poucos termos, computadores n√£o conseguem entender texto de maneira alguma, mas n√∫meros, ah, esses as m√°quinas entendem bem pra caramba! Ent√£o, que tal usar as t√©cnicas que aprendemos pra deixar tudo necess√°rio em n√∫meros?

**Dica**: Sempre que temos uma feature categ√≥rica que possui apenas 2 elementos, podemos transformar ela em uma flag bin√°ria! Agora o que isso significa eu deixo pra voc√™ pesquisar üòâ

### **.map()**: usada para transformar dados strings em uma coluna  
  
**Par√¢metros**

.map(**qualquer funcao**, **na_action**)  

**qualquer fun√ß√£o**: permite definir uma fun√ß√£o que v√° alterar os valores da coluna (n√£o muito util para dados n√£o-categoricos).  
Para **dados categ√≥ricos**, usamos o dicion√°rio em que cada chave √© o valor a ser substituido, e o value no dicion√°rio √© o valor que vai substituir  

**na_action**: determina o que fazer se encontrar um nulo

In [ ]:
# transforma a coluna Divorce Status em uma flag bin√°ria

dataset['Divorce Status'] = dataset['Divorce Status'].map({'Yes': 1, 'No': 0})

dataset